body {
  font-family: 'Nunito', sans-serif;
  background-color: #f3f3f3;
  color: #333333;
  margin: 0; }

.holder {
  width: 95%; }
  @media (min-width: 1200px) {
    .holder {
      width: 1200px; } }

.container, .header {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center; }

.row {
  display: flex;
  margin-top: 15px;
  flex-flow: row wrap; }

.header {
  background-color: #eb6b5d;
  width: 100%;
  color: white;
  font-weight: bold; }
  .header .navbar {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding: 15px 0 15px 0; }
    @media (max-width: 480px) {
      .header .navbar {
        justify-content: flex-start; } }
    .header .navbar .left-part {
      margin-right: auto; }
      .header .navbar .left-part .name {
        font-size: 16px; }
      .header .navbar .left-part .info {
        font-size: 12px;
        color: #e5e5e5; }
      @media (max-width: 480px) {
        .header .navbar .left-part {
          display: none; } }
    .header .navbar .right-part {
      font-size: 14px;
      margin-left: auto;
      display: flex; }
      @media (max-width: 480px) {
        .header .navbar .right-part {
          margin-left: 0;
          flex-flow: column;
          align-items: flex-start; } }
      .header .navbar .right-part .navbar-button {
        text-decoration: none;
        color: white;
        cursor: pointer;
        padding: 10px;
        transition: text-shadow 0.5s; }
        .header .navbar .right-part .navbar-button:hover {
          text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white; }

.job {
  display: flex;
  justify-self: center;
  width: 100%;
  margin-bottom: 70px; }
  .job:last-child {
    margin-bottom: 0; }
  .job .job-photo img {
    border-radius: 100%;
    width: 70px; }
  .job .job-right {
    margin-left: 20px;
    font-size: 19px;
    width: 100%; }
    @media (max-width: 480px) {
      .job .job-right {
        font-size: 16px; } }
    .job .job-right .same-line {
      display: flex;
      margin-bottom: 10px; }
    .job .job-right .job-title {
      font-weight: bold; }
    .job .job-right .job-role {
      font-weight: bold; }
    .job .job-right .job-time, .job .job-right .job-place {
      margin-left: auto;
      font-style: italic; }
    .job .job-right .job-description {
      margin-top: 40px;
      line-height: 34px; }
      @media (max-width: 480px) {
        .job .job-right .job-description {
          line-height: 25px; } }

.portfolio-content {
  width: 100%;
  display: flex; }
  @media (max-width: 480px) {
    .portfolio-content {
      flex-flow: column wrap; } }

.portfolio-box {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  height: 270px;
  position: relative;
  text-decoration: none;
  color: white; }
  .portfolio-box .info {
    opacity: 0;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    text-align: center; }
  .portfolio-box img {
    width: 70%;
    transition: width 0.5s, height 0.5s; }
  .portfolio-box:hover img {
    width: 50%; }
  .portfolio-box:hover .info {
    opacity: 1; }
  @media (max-width: 480px) {
    .portfolio-box {
      width: 100%;
      flex: auto; } }

.site-content {
  background-color: white;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.part {
  width: 100%;
  padding: 150px 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  .part.nopad {
    padding: 0; }
  .part .title {
    font-size: 60px;
    color: #e74c3c; }
    @media (max-width: 480px) {
      .part .title {
        font-size: 30px; } }
    .part .title.right {
      text-align: right; }
      @media (max-width: 480px) {
        .part .title.right {
          text-align: left; } }
    @media (max-width: 480px) {
      .part .title {
        text-align: left; } }
  .part .content {
    margin-top: 20px;
    justify-content: center;
    align-items: center; }
    .part .content a {
      text-decoration: none;
      color: #333333;
      font-weight: bold;
      font-style: italic; }
    .part .content.flex {
      display: flex; }
    .part .content.bigger-font {
      font-size: 19px; }
      @media (max-width: 480px) {
        .part .content.bigger-font {
          font-size: 16px; } }
    .part .content.together {
      display: flex; }
      @media (max-width: 480px) {
        .part .content.together {
          justify-content: center;
          flex-flow: column wrap; } }
    .part .content ul {
      list-style-type: none;
      margin: 10px 0 0 0;
      padding: 0; }
      .part .content ul li {
        display: flex;
        padding: 10px;
        transition: background-color 0.3s, color 0.3s, width 1s;
        font-weight: 700;
        width: 150px; }
        .part .content ul li .info {
          opacity: 0;
          transition: opacity 0.3s;
          margin-left: auto; }
        .part .content ul li:hover {
          background-color: #f1978d;
          color: white; }
          .part .content ul li:hover .info {
            opacity: 1; }
          .part .content ul li:hover.ninty {
            width: 90%; }
          .part .content ul li:hover.eighty {
            width: 80%; }
          .part .content ul li:hover.seventy {
            width: 70%; }
          .part .content ul li:hover.sixty {
            width: 60%; }
          .part .content ul li:hover.fifty {
            width: 50%; }
          .part .content ul li:hover.forthy {
            width: 40%; }
  .part.entrance {
    background: linear-gradient(#eb6b5d, #f1978d);
    color: white; }
    .part.entrance .title {
      color: white; }
    @media (max-width: 480px) {
      .part.entrance {
        padding: 0px 0 50px 0;
        height: auto; } }
  .part.white {
    background-color: white; }
  .part.gray {
    background-color: #ddd; }
  .part.lighter {
    background-color: #ef8b80;
    color: white; }
    .part.lighter .title {
      color: white; }
  .part.ender {
    background-color: #EDEDED; }
  @media (max-width: 480px) {
    .part {
      padding: 30px 0;
      height: auto; } }

.profile-pic {
  position: relative;
  margin-right: 20px; }
  .profile-pic img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 100%; }
  .profile-pic .info {
    opacity: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    top: 0;
    transition: opacity 0.4s;
    display: flex;
    justify-content: center;
    align-items: center; }
    .profile-pic .info:hover {
      opacity: 1; }
  @media (max-width: 480px) {
    .profile-pic {
      margin-right: 0px;
      margin-bottom: 20px; } }
