body{
    font-family: 'Nunito', sans-serif;
    background-color: #f3f3f3;
    color: #333333;
    margin: 0;
}
.holder{
    width: 95%;
    @media (min-width: 1200px){
        width: 1200px;
    }
}

.container{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}

.row{
    display: flex;
    margin-top: 15px;
    flex-flow: row wrap;
}

.header{
    background-color: #eb6b5d;
    width: 100%;
    @extend .container;
    color: white;
    font-weight: bold;
    & .navbar{
        display: flex;
        text-transform: uppercase;
        align-items: center;
        padding: 15px 0 15px 0;
        @media (max-width: 480px){
            justify-content: flex-start;
        }
        & .left-part{
            margin-right: auto;
            & .name{
                font-size: 16px;
            }
            & .info{
                font-size: 12px;
                color: #e5e5e5;
            }
            @media (max-width: 480px){
                display: none;
            }
        }
        & .right-part{
            font-size: 14px;
            margin-left: auto;
            display: flex;
            @media (max-width: 480px){
                margin-left: 0;
                flex-flow: column;
                align-items: flex-start;
            }
            & .navbar-button{
                text-decoration: none;
                color: white;
                cursor: pointer;
                padding: 10px;
                transition: text-shadow 0.5s;
                &:hover{
                    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
                }
            }
        }
    }
}
.job{
    display: flex;
    justify-self: center;
    width: 100%;
    margin-bottom: 70px;
    &:last-child {
        margin-bottom: 0;
    }
    & .job-photo {
        & img{
            border-radius: 100%;
            width: 70px;
        }
    }
    & .job-right{
        margin-left: 20px;
        font-size: 19px;
        width: 100%;
        @media (max-width: 480px){
            font-size: 16px;
        }
        & .same-line {
            display: flex;
            margin-bottom: 10px;
        }
        & .job-title{
            font-weight: bold;
        }
        & .job-role{
            font-weight: bold;
        }
        & .job-time, .job-place {
            margin-left: auto;
            font-style: italic;
        }
        & .job-description{
            margin-top: 40px;
            line-height: 34px;
            @media (max-width: 480px){
                line-height: 25px;
            }
        }
    }
}
.portfolio-content{
    width: 100%;
    display: flex;
    @media (max-width: 480px){
        flex-flow: column wrap;
    }
}
.portfolio-box{
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    height: 270px;
    position: relative;
    text-decoration: none;
    color: white;
    & .info{
        opacity: 0;
        padding: 10px 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        transition: opacity 0.3s;
        text-align: center;
    }
    & img{
        width: 70%;
        transition: width 0.5s, height 0.5s;
    }
    &:hover{
        img{
            width: 50%;
        }
        & .info{
            opacity: 1;
        }
    }
    @media (max-width: 480px){
        width: 100%;
        flex: auto;
    }
}
.site-content{
    background-color: white;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.part{
    width: 100%;
    padding: 150px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    &.nopad{
        padding: 0;
    }
    & .title{
        font-size: 60px;
        color: #e74c3c; 
        @media (max-width: 480px){
            font-size: 30px;
        }
        &.right{
            text-align: right;
            @media (max-width: 480px){
                text-align: left;
            }
        }
        @media (max-width: 480px){
            text-align: left;
        }
    }
    & .content{
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        & a{
            text-decoration: none;
            color: #333333;
            font-weight: bold;
            font-style: italic;
        }
        &.flex{
            display: flex;
        }
        &.bigger-font{
            font-size: 19px;
            @media (max-width: 480px){
                font-size: 16px;
            }
        }
        &.together{
            display: flex;
            @media (max-width: 480px){
                justify-content: center;
                flex-flow: column wrap;
            }
        }
        ul{
            list-style-type: none;
            margin: 10px 0 0 0;
            padding: 0;
            li{
                display: flex;
                padding: 10px;
                transition: background-color 0.3s, color 0.3s, width 1s;
                font-weight: 700;
                width: 150px;
                & .info{
                    opacity: 0;
                    transition: opacity 0.3s;
                    margin-left: auto;
                }
                &:hover{
                    background-color: #f1978d;
                    color: white;
                    & .info{
                        opacity: 1;  
                    }
                    &.ninty{
                        width: 90%;
                    }
                    &.eighty{
                        width: 80%;
                    }
                    &.seventy{
                        width: 70%;
                    }
                    &.sixty{
                        width: 60%;
                    }
                    &.fifty{
                        width: 50%;
                    }
                    &.forthy{
                        width: 40%;
                    }
                    
                }
                
            }
        }
    }
    &.entrance{
        background: linear-gradient(#eb6b5d, #f1978d); 
        color: white;
        & .title{
            color: white;
        }
        @media (max-width: 480px){
            padding: 0px 0 50px 0;
            height: auto;
        }
    }
    &.white{
        background-color: white;
    }
    &.gray{
        background-color: #ddd;
    }
    &.lighter{
        background-color: #ef8b80;
        color: white;
        & .title{
            color: white;
        }
        
    }
    &.ender{
        background-color: #EDEDED;
    }
    @media (max-width: 480px){
        padding: 30px 0;
        height: auto;
    }
}
.profile-pic{
    position: relative;
    & img{
        object-fit: cover;
        width: 150px;
        height: 150px;
        border-radius: 100%;
    }
    & .info{
        opacity: 0;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        width: 150px;
        height: 150px;
        border-radius: 100%;
        top: 0;
        transition: opacity 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            opacity: 1;
        }
        
    }
    margin-right: 20px;
    @media (max-width: 480px){
        margin-right: 0px;
        margin-bottom: 20px;
    }
}